/AdvanceSetting/project.properties
/AdvanceSetting/.classpath
/AdvanceSetting/.project
/AdvanceSetting/key.ppk
/AdvanceSetting/proguard.cfg
bin
gen
/.classpath
/.project
/proguard.cfg
/project.properties
